.sidebar {
  height: 100%;
  color: #ffffff;
  background: #423a78;
}

.side-header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #363062;
}

.side-header img {
  margin-right: 5px;
}

.side-content {
  padding: 3px 18px;
  /* height: 62vh;
  background: #4d4c7d; */
}

.active-list {
  margin-top: 10px;
}

.active-item {
  margin-bottom: 5px;
}

.active-item span {
  margin-left: 5px;
  font-size: 15px;
}

.active-item h5 {
  font-size: 15px;
  margin-top: 8px;
}

.label {
  margin: 10px 0 5px 0;
}
