#root {
  height: 100vh;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.joinInnerContainer {
  width: 400px;
  background: white;
  padding: 45px;
  height: 80vh;
}

.joinInput {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 17px;
}

.heading {
  color: #202020;
  padding: 15px 0;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}


.button:hover {
  opacity: 0.8;
}

.mt-20 {
  margin-top: 20px;
}

.room-select {
  width: 100%;
  height: 48px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 15px;
}

.login-link {
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
